.baryon-body {
    text-align: left;
    padding: 20px;
}
.baryon-body:after {
    content: "";
    clear: both;
    display: block;
}

.baryon-grid {
    min-width: 400px;
    float: left;
}
@media(max-width: 1200px) {
  .baryon-grid {
      float: none;
  }
  .baryon-gluons{
      margin-top: 20px;
  }
}
@media(min-width: 1200px) {
  .baryon-subject {
      margin-right:20px;
  }
  .baryon-gluons{
      max-width: 700px;
  }
}

.baryon-subject {
}
.baryon-subject-image-wrapper {
}

.baryon-subject-image {
    width: 400px;
    /* height: 300px; */
    object-fit: cover;
}

.baryon-gluons {
    position: relative;
}

.baryon-gluon-body {
}

.baryon-gluon-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.baryon-interaction-body {
}

.baryon-strong-interaction {
}
